<% layout ('layouts/boilerplate') %> 

<section class="section">
    <div id="map"></div>
        <div class="single-market">
            <h5 class="market--title"><%=market.title%></h5>
            <div class="market-desc-group">
                <p class="market--description">Opened: <%= market.openingDays%></p>
                <p class="market--description">Working hours: <%= market.openingTime%></p>
                <p class="market--description"><%= market.description%></p>
            </div>
=
            </div>    
</section>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const market = <%- JSON.stringify(market) %>
    
</script>

<script src="/js/showMap.js"></script>